ion-item.ion-invalid.ion-dirty {
  border-bottom: 2px solid var(--ion-color-danger) !important;
}

ion-item.ion-valid.ion-dirty {
  border-bottom: 2px solid var(--ion-color-success) !important;
}

ion-thumbnail {
  --border-radius: 0;
}

