<ion-item-group>
	<ion-item>
		<ion-label position="floating">Portions</ion-label>
		<ion-select>
			<ion-select-option value="">No Game Console</ion-select-option>
			<ion-select-option value="nes">NES</ion-select-option>
			<ion-select-option value="n64" selected="true">Nintendo64</ion-select-option>
			<ion-select-option value="ps">PlayStation</ion-select-option>
			<ion-select-option value="genesis">Sega Genesis</ion-select-option>
			<ion-select-option value="saturn">Sega Saturn</ion-select-option>
			<ion-select-option value="snes">SNES</ion-select-option>
		</ion-select>
	</ion-item>
	<!--	<ion-buttons>-->
	<ion-button size="full">Edit</ion-button>
	<ion-button>Delete</ion-button>
	<!--	</ion-buttons>-->
	<ion-item button="true" detail="false" slot="center" (click)="closePopover()">
		<ion-label>
			Close
		</ion-label>
	</ion-item>

</ion-item-group>

