<ion-list lines="none">
	<ion-item>
		<ion-label position="stacked">
			<ion-icon name="person-outline" slot="start"></ion-icon>
			Portions
		</ion-label>
		<ion-select interface="action-sheet" [formControl]="portionsControl">
			<ion-select-option *ngFor="let portion of portions" [value]="portion">{{portion}}</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-item [button]="true" [detail]="false" (click)="navigateToEdit(recipeId)">
		<ion-icon name="create-outline" slot="start"></ion-icon>
		<ion-label>
			Edit
		</ion-label>
	</ion-item>

	<ion-item [button]="true" [detail]="false" (click)="presentDeleteAlert(recipeId)">
		<ion-icon name="trash-outline" slot="start"></ion-icon>
		<ion-label>
			Delete
		</ion-label>
	</ion-item>

</ion-list>