<ng-container *ngIf="isLoggedIn$ | async">
	<ion-menu contentId="main-content" type="overlay">
		<ion-content>
			<ion-list>
				<app-profile-card></app-profile-card>
				<ion-item>
					<ion-label>Vegetarian</ion-label>
					<ion-toggle slot="end" color="success" (ionChange)="toggleVegetarian()"
						[checked]="vegetarianSelected$ | async ">
					</ion-toggle>
				</ion-item>
				<ion-list-header>Categories</ion-list-header>
				<ion-menu-toggle auto-hide="true" *ngIf="loaded$ | async; else Loading">
					<ion-item-group>
						<ion-item>
							<ion-button fill="clear" class="full-button" (click)="selectCategory(null)">
								All
							</ion-button>
						</ion-item>
						<ion-item *ngFor="let category of categories$ | async">
							<ion-button fill="clear" class="full-button" (click)="selectCategory(category)">
								{{category}}
							</ion-button>
						</ion-item>
					</ion-item-group>
				</ion-menu-toggle>
				<ng-template #Loading>
					<ion-spinner></ion-spinner>
				</ng-template>
			</ion-list>
			<ion-note>20.03.2021 01</ion-note>
		</ion-content>
	</ion-menu>
</ng-container>

<ng-template #Loading>
	<ion-spinner></ion-spinner>
</ng-template>